{% extends 'main/main-base.html'%}

{% load static %}
{% block content %}

<section class="page-header padding">
    <div class="anim-elements">
        <div class="anim-element"></div>

    </div>
    <div class="container">
        <div class="page-content text-center">
            <h2>About</h2>
            <p>Data Superpowers for Real Estate Sales, Marketing & Operations</p>
        </div>
    </div>
</section><!--/. page-header -->

<!-- <section class="promo-section bg-grey promo-4 bd-bottom padding">
    <div class="container">
        <div class="row promo-wrap">
            <div class="col-lg-4 col-sm-6 sm-padding">
                <div class="promo-item wow fadeInUp" data-wow-delay="200ms">
                    <i class="sb sb-chart"></i>
                    <h3>Data Analytics</h3>
                    <p>We provide marketing service to startups businesses to looking for a partner digital marketing media.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 sm-padding">
                <div class="promo-item wow fadeInUp" data-wow-delay="300ms">
                    <i class="sb sb-stats"></i>
                    <h3>Digital Marketing</h3>
                    <p>We provide marketing service to startups businesses to looking for a partner digital marketing media.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 sm-padding">
                <div class="promo-item wow fadeInUp" data-wow-delay="400ms">
                    <i class="sb sb-hours"></i>
                    <h3>Customer Care</h3>
                    <p>We provide marketing service to startups businesses to looking for a partner digital marketing media.</p>
                </div>
            </div>
        </div>
    </div>
</section>/.promo-section -->

<section class="content-section bd-bottom padding">
    <div class="container">
        <div class="row content-wrap">
            <div class="col-lg-6 sm-padding wow fadeInLeft" data-wow-delay="300ms">
                <img alt="content-img" src="{% static 'img/DanielPoston.png' %}">
            </div>
            <div class="col-lg-6 sm-padding">
                <div class="content-info wow fadeInRight" data-wow-delay="300ms">
                    <span>About</span>
                    <h2>Daniel Poston</h2>
                    <p>Daniel Poston is an entrepreneur, data architect/engineer/wizard, and automation/analytics expert
                        from Southern California. He graduated from UCLA in 2005 and started out as a commercial real
                        estate agent with Marcus & Millichap before moving on to a boutique firm called BRC Advisors.
                        His focus was multi-family properties in the Hawthorne/Inglewood area of Los Angeles and sold 44
                        units for $4.7 Million as the market imploded in 2008.</p>
                    <p>
                        After the real estate market collapsed, he played online poker professionally before
                        transitioning to a career in data science and analytics. Daniel taught himself how to write code
                        in multiple programming languages focusing primarily on Python and SQL. He is proficient at
                        developing Amazon Web Services cloud computing infrastructure which enables him to build custom
                        API integrations and automate virtually ANYTHING.

                    </p>
                    <p>
                        Daniel is a consultant who helps real estate agents and teams profit wildly through data
                        analytics and automation. He has personally set up platforms and managed data on behalf of
                        clients who experienced spikes in appointments, signed listing/buyer agreements, and closed
                        sales.
                    </p>
                    <p>
                        Daniel was the Chief Data officer for one of the top-selling real estate teams in Southern
                        California (368 homes sold in 2018). He's now providing similar services to his clients and
                        helping them gain choke holds on their respective markets.
                    </p>
                    <!--
                                                <ul class="content-list">
                                                    <li><i class="fas fa-check"></i>Elements from one design to another.</li>
                                                    <li><i class="fas fa-check"></i>Reuse the elements from one design to another.</li>
                                                    <li><i class="fas fa-check"></i>Following the latest design trends.</li>
                                                </ul> -->
                </div>
            </div>
        </div>
    </div>
</section><!--/. content-section -->

<!-- <section class="counter-section bd-bottom padding">
   <div class="path"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="counter-item wow fadeInUp" data-wow-delay="200ms">
                    <i class="icon-download color-red"></i>
                    <h3><span class="odometer" data-count="2589">00</span></h3>
                    <h4>Tottal Downloaded</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="counter-item wow fadeInUp" data-wow-delay="300ms">
                    <i class="icon-bargraph color-blue"></i>
                    <h3><span class="odometer" data-count="1964">00</span></h3>
                    <h4>Grow On Year</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="counter-item wow fadeInUp" data-wow-delay="400ms">
                    <i class="icon-tools color-yellow"></i>
                    <h3><span class="odometer" data-count="7921">00</span></h3>
                    <h4>Clients Reviews</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="counter-item wow fadeInUp" data-wow-delay="500ms">
                    <i class="icon-ribbon color-green"></i>
                    <h3><span class="odometer" data-count="5385">00</span></h3>
                    <h4>People Subscribed</h4>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--/. counter-section -->

<!-- <section class="tophic-team padding">
    <div class="container">
        <div class="section-heading text-center mb-40">
            <span>Team Members</span>
            <h2>Our Expert Team Would Like <br> To Hear From You!</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 sm-padding">
               <div class="team-wrap">
                   <div class="team-box">
                        <div class="overlay"></div>
                        <img src="{% static 'img/team-1.jpg' %}" alt="img">
                        <ul class="team-social">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-instagram"></i></a></li>
                            <li><a href="#"><i class="ti-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>Fiorella Ibáñez<span>Developer</span></h3>
                    </div>
               </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-padding">
               <div class="team-wrap">
                   <div class="team-box">
                        <div class="overlay"></div>
                        <img src="{% static 'img/team-2.jpg' %}" alt="img">
                        <ul class="team-social">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-instagram"></i></a></li>
                            <li><a href="#"><i class="ti-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>José Carpio<span>Developer</span></h3>
                    </div>
               </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-padding">
               <div class="team-wrap">
                   <div class="team-box">
                        <div class="overlay"></div>
                        <img src="{% static 'img/team-3.jpg' %}" alt="img">
                        <ul class="team-social">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-instagram"></i></a></li>
                            <li><a href="#"><i class="ti-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>Jhon Castellon<span>Developer</span></h3>
                    </div>
               </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="team-wrap">
                   <div class="team-box">
                        <div class="overlay"></div>
                        <img src="{% static 'img/team-4.jpg' %}" alt="img">
                        <ul class="team-social">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-instagram"></i></a></li>
                            <li><a href="#"><i class="ti-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>Kyle Frederick<span>Developer</span></h3>
                    </div>
               </div>
            </div>
        </div>
    </div>
</section> -->

<!--/.tophic-team-->

<!-- <section class="content-section content-3 padding">
    <div class="container">
        <div class="row content-wrap">
            <div class="col-lg-6 sm-padding wow fadeInLeft" data-wow-delay="300ms">
                <img src="{% static 'img/hosting-content-2.png' %}" alt="content-img">
            </div>
            <div class="col-lg-6 sm-padding">
                <div class="content-info wow fadeInRight" data-wow-delay="300ms">
                    <span>Features</span>
                    <h2>Revolutionize Your Wordpress <br> Hosting On All Plans!</h2>
                    <p>We provide marketing services to startups and small businesses to looking for a partner of their digital media, design &amp; development, lead generation and communications requirents.</p>
                    <a href="#" class="default-btn btn-pink">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!--/. content-section -->

<!-- <section class="testimonial-section bd-bottom padding">
   <div class="map-pattern"></div>
    <div class="container">
       <div class="section-heading mb-40 text-center wow fadeInUp" data-wow-delay="300ms">
           <span>Explore The Features</span>
           <h2>Thousands Of People <br>Using Our SaasBiz Apps.</h2>
       </div>
        <div class="row testi-wrap">
            <div id="testimonial-carousel-2" class="testimonial-carosel-2 owl-carousel">
                <div class="testi-item">
                    <p>"Daniel gives selflessly and without an expectation of receiving anything in return. Those are qualities that I highly value. He shares his time, contacts, methodologies and wisdom. If you have an opportunity to work with him you will not be disappointed."</p>
                    <br><br>
                    <div class="testi-item-inner">
                        <div class="testi-thumb">
                            <img src="{% static 'img/testi-1.jpg' %}" alt="testimonial">
                        </div>
                        <div class="testi-info">
                            <h3>Corey Schwartz
                                <span>
                                    <a target="blank" href="https://www.loanatik.com/">Loanatik, LLC</a>
                                    President
                                </span></h3>
                        </div>
                        <div class="quote-icon"><i class="fas fa-quote-right"></i></div>
                    </div>
                </div>
                <div class="testi-item">
                    <p>"Great person to work with. Always has his client's needs top of mind. Great communicator. Very talented and knowledgeable. Would highly recommend Daniel to anyone who needs help with website integration, setup, & workflow. We are hoping to have a long term relationship with Daniel."</p>
                    <div class="testi-item-inner">
                        <div class="testi-thumb">
                            <img src="{% static 'img/testi-2.jpg' %}" alt="testimonial">
                        </div>
                        <div class="testi-info">
                            <h3>Greg Kime
                                <span>
                                  <a target="blank" href="https://kimerealty.com/">Kime Realty</a>
                                  Owner/Broker
                                </span></h3>
                        </div>
                        <div class="quote-icon"><i class="fas fa-quote-right"></i></div>
                    </div>
                </div>
                <div class="testi-item">
                    <p>"Hi Daniel is great. He is currently helping me with some custom API work to have follow up boss communicate with my lender's crm. And after that we are going to have him customize a lot of the workflow so more of it is automated. Feel free to contact me if you have any questions about his work."</p>
                    <div class="testi-item-inner">
                        <div class="testi-thumb">
                            <img src="{% static 'img/testi-3.jpg' %}" alt="testimonial">
                        </div>
                        <div class="testi-info">
                            <h3>Teton Wilson
                                <span>
                                <a href="https://www.activebuyersnetwork.com/" target="blank">Active Buyers Network</a>
                                Team Leader
                                </span></h3>
                        </div>
                        <div class="quote-icon"><i class="fas fa-quote-right"></i></div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</section> -->
<!--/. testimonial-section -->

<!-- <div class="sponsor-section padding-60">
    <div class="container">
        <div id="sponsor-carousel" class="sponsor-carousel owl-carousel">
            <div class="sponsor-item">
                <img src="{% static 'img/sponsor-1.png' %}" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img style="visibility: hidden;"  src="{% static 'img/sponsor-2.png' %}" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img src="{% static 'img/sponsor-2.png' %}" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img style="visibility: hidden;"  src="{% static 'img/sponsor-4.png' %}" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img  src="{% static 'img/sponsor-1.png' %}" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img style="visibility: hidden;"  src="{% static 'img/sponsor-6.png' %}" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img src="{% static 'img/sponsor-2.png' %}" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img style="visibility: hidden;"  src="{% static 'img/sponsor-4.png' %}" alt="sponsor">
            </div>
        </div>
    </div>
</div> -->
<!--/. sponsor-section -->

{% endblock %}
		