{% extends 'main/main-base.html'%}

{% load static %}
{% block content %}

<section class="page-header padding">
    <div class="container">
        <div class="page-content text-center">
            <h1>Want to get in touch? Let's talk!
            </h1>
        </div>
    </div>
</section><!--/. page-header -->

<section class="content-section bd-bottom padding">
    <div class="container">
        <div class="row content-wrap">

            <div class="col-lg-6 sm-padding">
                <div class="content-info wow fadeInRight" data-wow-delay="300ms">
                    <span>About</span>
                    <h2>Daniel Poston</h2>
                    <p>To contact Daniel or his staff please use the following information.
                    </p>
                    <p>
                        Daniel Poston and his staff operate Monday – Friday 9am – 5pm Pacific Time (California). To
                        contact Daniel or his team please use the information below:

                    </p>
                    <p>
                        <b>Email:</b><br>
                        info@datalabz.re </p>
                    <p>
                        <b>Phone:</b><br>
                        619.473.4883
                    </p>
                    <a class="default-btn" href="https://strategy.interface.re/free-strategy-sesh-1"> Free Strategy Sesh</a>

                </div>
            </div>
            <div class="col-lg-6 sm-padding wow fadeInLeft" data-wow-delay="300ms">
                <img alt="content-img" src="{% static 'img/DanielPoston.png' %}">
            </div>
        </div>
    </div>
</section><!--/. content-section -->


{% endblock %}

{% block scripts%}


{% endblock %}
