{% extends 'main/main-base.html'%}

{% load static %}
{% block content %}


<section class="content-section bd-bottom padding">
    <div class="container">
        <div class="row content-wrap">
            <div class="col-lg-12 sm-padding">
                <div class="content-info wow fadeInRight" data-wow-delay="300ms">
                    <h2>Follow Up Boss and Sisu Integration</h2>
                    <span>End-User License Agreement</span>
                    <p>This copy of FUB Sisu Integration ("the Software Product") and accompanying documentation is
                        licensed and not sold. This Software Product is protected by copyright laws and treaties, as
                        well as laws and treaties related to other forms of intellectual property. SharpData Analytics,
                        Inc. doing business as Real Estate DataLabz or its subsidiaries, affiliates, and suppliers
                        (collectively "SharpData") own intellectual property rights in the Software Product. The
                        Licensee's ("you" or "your") license to download, use,copy, or change the Software Product is
                        subject to these rights and to all the terms and conditions of this End User License Agreement
                        ("Agreement").
                    </p>
                    <h3>Acceptance
                    </h3>
                    <p>
                        YOU ACCEPT AND AGREE TO BE BOUND BY THE TERMS OF THIS AGREEMENT BY INSTALLING,USING, OR COPYING
                        THE SOFTWARE PRODUCT. IF YOU DO NOT AGREE TO ALL OF THE TERMSOF THIS AGREEMENT, YOU MUST NOT
                        INSTALL, USE, OR COPY THE SOFTWARE PRODUCT.

                    </p>
                    <h3>License Grant

                    </h3>
                    <p>
                        This Agreement entitles you to install and use one copy of the Software Product. This Agreement
                        does not permit the installation or use of multiple copies of the Software Product.The Software
                        Product is intended for the integration of one Follow Up Boss account with one Sisu account.
                    </p>

                    <h3>Restrictions on Transfer
                    </h3>
                    <p>
                        Without first obtaining the express written consent of SharpData, you may not assign your rights
                        and obligations under this Agreement, or redistribute, encumber, sell, rent,lease, sublicense,
                        or otherwise transfer your rights to the Software Product.
                    </p>
                    <h3>Restrictions on Use
                    </h3>
                    <p>
                        You may not decompile, "reverse-engineer", disassemble, or otherwise attempt to derive the
                        source code for the Software Product.
                    </p>

                    <h3>Restrictions on Alteration
                    </h3>
                    <p>
                        You may not modify the Software Product or create any derivative work of the Software Product or
                        its accompanying documentation. Derivative works include but are not limited to translations.
                        You may not alter any files or libraries in any portion of the Software Product.
                    </p>

                    <h3>Restrictions on Copying
                    </h3>
                    <p>
                        You may not copy any part of the Software Product except to the extent that licensed use
                        inherently demands the creation of a temporary copy stored in computer memory and not
                        permanently affixed on storage medium.
                    </p>

                    <h3>Disclaimer of Warranties and Limitation of Liability
                    </h3>
                    <p>
                        UNLESS OTHERWISE EXPLICITLY AGREED TO IN WRITING BY SHARPDATA, SHARPDATAMAKES NO OTHER
                        WARRANTIES, EXPRESS OR IMPLIED, IN FACT OR IN LAW, INCLUDING, BUTNOT LIMITED TO, ANY IMPLIED
                        WARRANTIES OF MERCHANTABILITY OR FITNESS FOR APARTICULAR PURPOSE OTHER THAN AS SET FORTH IN THIS
                        AGREEMENT OR IN THE LIMITEDWARRANTY DOCUMENTS PROVIDED WITH THE SOFTWARE PRODUCT.
                    </p>
                    <p>
                        SharpData makes no warranty that the Software Product will meet your requirements or operate
                        under your specific conditions of use. SharpData makes no warranty that operation of the
                        Software Product will be secure, error free, or free from interruption. YOUMUST DETERMINE
                        WHETHER THE SOFTWARE PRODUCT SUFFICIENTLY MEETS YOURREQUIREMENTS FOR SECURITY AND
                        UNINTERRUPTABILITY. YOU BEAR SOLE RESPONSIBILITYAND ALL LIABILITY FOR ANY LOSS INCURRED DUE TO
                        FAILURE OF THE SOFTWARE PRODUCT TO MEET YOUR REQUIREMENTS. SHARPDATA WILL NOT, UNDER ANY
                        CIRCUMSTANCES, BERESPONSIBLE OR LIABLE FOR THE LOSS OF DATA ON ANY COMPUTER OR
                        INFORMATIONSTORAGE DEVICE.
                    </p>
                    <p>
                        UNDER NO CIRCUMSTANCES SHALL SHARPDATA, ITS DIRECTORS, OFFICERS, EMPLOYEESOR AGENTS BE LIABLE TO
                        YOU OR ANY OTHER PARTY FOR INDIRECT, CONSEQUENTIAL,SPECIAL, INCIDENTAL, PUNITIVE, OR EXEMPLARY
                        DAMAGES OF ANY KIND (INCLUDING LOSTREVENUES OR PROFITS OR LOSS OF BUSINESS) RESULTING FROM THIS
                        AGREEMENT, ORFROM THE FURNISHING, PERFORMANCE, INSTALLATION, OR USE OF THE SOFTWAREPRODUCT,
                        WHETHER DUE TO A BREACH OF CONTRACT, BREACH OF WARRANTY, OR THE NEGLIGENCE OF SHARPDATA OR ANY
                        OTHER PARTY, EVEN IF SHARPDATA IS ADVISED BEFOREHAND OF THE POSSIBILITY OF SUCH DAMAGES. TO THE
                        EXTENT THAT THE APPLICABLE JURISDICTION LIMITS SHARPDATA'S ABILITY TO DISCLAIM ANY
                        IMPLIEDWARRANTIES, THIS DISCLAIMER SHALL BE EFFECTIVE TO THE MAXIMUM EXTENTPERMITTED.
                    </p>

                    <h3>Limitation of Remedies and Damages
                    </h3>
                    <p>
                        Your remedy for a breach of this Agreement or of any warranty included in this Agreement is the
                        correction or replacement of the Software Product. Selection of whetherto correct or replace
                        shall be solely at the discretion of SharpData. SharpData reservesthe right to substitute a
                        functionally equivalent copy of the Software Product as are placement. If SharpData is unable to
                        provide a replacement or substitute SoftwareProduct or corrections to the Software Product, your
                        sole alternate remedy shall be are fund of the purchase price for the Software Product exclusive
                        of any costs for shipping and handling.
                    </p>
                    <p>
                        Any claim must be made within the applicable warranty period. All warranties cover only defects
                        arising under normal use and do not include malfunctions or failure resulting from misuse,
                        abuse, neglect, alteration, problems with electrical power, acts of nature,unusual temperatures
                        or humidity, improper installation, or damage determined by SharpData to have been caused by
                        you. All limited warranties on the Software Productare granted only to you and are
                        non-transferable. You agree to indemnify and hold SharpData harmless from all claims, judgments,
                        liabilities, expenses, or costs arising from your breach of this Agreement and/or acts or
                        omissions.
                    </p>
                    <h3>Governing Law, Jurisdiction and Costs
                    </h3>
                    <p>
                        This Agreement is governed by the laws of California, without regard to California's conflict or
                        choice of law provisions.
                    </p>

                    <h3>Severability
                    </h3>
                    <p>
                        If any provision of this Agreement shall be held to be invalid or unenforceable, the remainder
                        of this Agreement shall remain in full force and effect. To the extent any express or implied
                        restrictions are not permitted by applicable laws, these express orimplied restrictions shall
                        remain in force and effect to the maximum extent permittedby such applicable laws.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
		