{% extends 'dashboard/base.html' %}

{% load static %}

{% block styles %}
<style>
    label {
        color: #4c4c4c !important;
        text-transform: capitalize !important;
        font-size: 15px !important;
        /* transform: translate(15px,7px); */
        margin-bottom: 2px;
        /* padding: 1px 3px; */
    }

    @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

    * {
        box-sizing: border-box;
    }

    .col-container {
        display: table;
        width: 100%;
    }

    .main-col {
        display: table-cell;
        padding: 16px;
    }

    body {
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 60px;
    }

    h1 {
        letter-spacing: 1px;
    }

    .pricing-container {
        display: flex;
    }

    .pricing {
        background-color: #fff;
        border: 1px solid #eee;
        margin: 10px;
        text-align: center;
    }

    .pricing.highlight {
        border-top: 2px solid #50BC01;
        box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
    }

    .pricing h1 {
        color: #5CAEFE;
        margin: 30px 0 0;
    }

    .pricing h4 {
        margin: 20px 0 0;
    }

    .pricing small.green {
        color: #50BC01;
        margin: 0;
    }

    .pricing small.green + h1 {
        margin-top: 10px;
    }

    .pricing small {
        color: #777;
    }

    .pricing ul {
        list-style-type: none;
        padding: 0;
        margin: 40px 0;
    }

    .pricing ul li {
        margin: 20px 30px;
        max-width: 250px;
    }

    .pricing button {
        background-color: #5CAEFE;
        border: 0;
        border-radius: 2px;
        color: #fff;
        padding: 12px 20px;
        margin-bottom: 30px;
    }

    @media screen and (max-width: 480px) {

        .social-panel-container.visible {
            transform: translateX(0px);
        }

        .floating-btn {
            right: 10px;
        }
    }

    .right-panel {
        width: inherit; 
       }
</style>
{% endblock %}

{% block content %}

<div class=" d-flex align-content-center flex-wrap">

    <div class="container" style="width: 100%; max-width: -webkit-fill-available;">

<!--        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">-->
<!--            <h3 class="display-4">Fub Analytics</h3>-->
<!--        </div>-->

<!--        <div class="container">-->
<!--            <div class="card-deck mb-3 text-center">-->
<!--                <div class="row justify-content-center" style=" width: -webkit-fill-available">-->
<!--                    {% for p in fub_analytics %}-->
<!--                    <div class="col-md-3">-->
<!--                        <div class="card mb-4 box-shadow" style="height:100%; ;  margin-top: 15%; width:100%;">-->
<!--                            <div class="card-header">-->
<!--                                <h4 class="my-0 font-weight-normal">{{p.name}}</h4>-->
<!--                            </div>-->
<!--                            <div class="card-body d-flex flex-column" style="height:-webkit-fill-available; ">-->
<!--                                {% if p.price %}-->
<!--                                <h1 class="card-title pricing-card-title">${{p.price}} <small class="text-muted">/-->
<!--                                    mo</small></h1>-->
<!--                                {% endif %}-->
<!--                                {% if p.setup_cost %}-->
<!--                                <h4 class="card-title pricing-card-title"> Setup Fee ${{p.setup_cost}} <small-->
<!--                                        class="text-muted"></small>-->
<!--                                </h4>-->
<!--                                {% endif %}-->
<!--                                <div class='card-title pricing-card-title'>{{p.description | safe}}</div>-->
<!--                                {% if p.show_subscribe is True %}-->
<!--                                {% if p.is_active is False %}-->
<!--                                <button class="mt-auto btn btn-lg btn-block btn-primary" onclick="openCheckout('{{p.id}}', '{{has_active_plan}}' )"-->
<!--                                        style=" bottom:1%; left: 2%; "-->
<!--                                        type="button">Subscribe-->
<!--                                </button>-->
<!--                                {% else %}-->
<!--                                <h6> Renews on : {{p.billing_date}}</h6>-->
<!--                                <button class="mt-auto btn btn-lg btn-block btn-success" onclick=""-->
<!--                                        style=" bottom:1%; left: 2%; " type="button">Active-->
<!--                                </button>-->
<!--                                {% endif %}-->
<!--                                {% endif %}-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% endfor %}-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->

        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h3 class="display-4">Fub Twilio</h3>
        </div>

        <div class="container">
            <div class="mb-3 text-center">
                <div class="row justify-content-center" style=" width: -webkit-fill-available">
                    {% for p in fub_twilio %}
                    <div class="col-md-3">
                        <div class="card mb-4 box-shadow" style="height:100%; ;  margin-top: 15%; width:100%;">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">{{p.name}}</h4>
                            </div>
                            <div class="card-body d-flex flex-column" style="height:-webkit-fill-available; ">
                                {% if p.price%}
                                <h1 class="card-title pricing-card-title">${{p.price}} <small class="text-muted">/
                                    mo</small></h1>
                                {% endif %}
                                {% if p.setup_cost %}
                                <h4 class="card-title pricing-card-title"> Setup Fee ${{p.setup_cost}} <small
                                        class="text-muted"></small>
                                </h4>
                                {% endif %}
                                <div class='card-title pricing-card-title'>{{p.description | safe}}</div>
                                {% if p.show_subscribe is True %}
                                {% if p.is_active is False %}
                                <button class="mt-auto btn btn-lg btn-block btn-primary" onclick="openCheckout('{{p.id}}', '{{has_active_plan}}' )"
                                        style=" bottom:1%; left: 2%; "
                                        type="button">Subscribe
                                </button>
                                {% else %}
                                <h6> Renews on : {{p.billing_date}}</h6>
                                <button class="mt-auto btn btn-lg btn-block btn-success" onclick=""
                                        style=" bottom:1%; left: 2%; " type="button">Active
                                </button>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>

        {% if has_active_fub_plan != True %}
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h3 class="display-4">Fub Sisu Plans</h3>
            <p class="lead">Select one of the fub-sisu plans</p>
        </div>

        <div class="container">
            <div class="mb-3 text-center">
                <div class="row justify-content-center" style="width: -webkit-fill-available">
                    {% for p in sisu_plans_top %}


                    <div class="col-md-3 ">

                        <div class="card mb-4 box-shadow" style="height:100%; ;  margin-top: 15%; width:100%;">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">{{p.name}}</h4>
                            </div>
                            <div class="card-body d-flex flex-column" style="height:-webkit-fill-available; ">
                                {% if p.price%}
                                <h1 class="card-title pricing-card-title">${{p.price}} <small class="text-muted">/
                                    mo</small></h1>
                                {% endif %}
                                {% if p.setup_cost %}
                                <h4 class="card-title pricing-card-title"> Setup Fee ${{p.setup_cost}} <small
                                        class="text-muted"></small>
                                </h4>
                                {% endif %}
                                <div class='card-title pricing-card-title'>{{p.description | safe}}</div>


                                {% if p.show_subscribe is True %}
                                {% if p.is_active is False %}
                                <button class="mt-auto btn btn-lg btn-block btn-primary" onclick="openCheckout('{{p.id}}', '{{has_active_plan}}' )"
                                        style=" bottom:1%; left: 2%; "
                                        type="button">Try Free
                                </button>
                                {% else %}
                                <h6> Renews on : {{p.billing_date}}</h6>
                                <button class="mt-auto btn btn-lg btn-block btn-success" onclick=""
                                        style=" bottom:1%; left: 2%; " type="button">Active
                                </button>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="row justify-content-center" style="margin-top: 5%; width: -webkit-fill-available">
                    {% for p in sisu_plans_middle %}

                    {% if p.id != 'fub-sisu-activity-integration' %}
                    <div class="col-md-3">

                        <div class="card mb-4 box-shadow" style="height:100%; ;  margin-top: 15%; width:100%;">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">{{p.name}}</h4>
                            </div>
                            <div class="card-body d-flex flex-column">
                                {% if p.price%}
                                <h1 class="card-title pricing-card-title">${{p.price}} <small class="text-muted">/
                                    mo</small></h1>
                                {% endif %}
                                {% if p.setup_cost %}
                                <h4 class="card-title pricing-card-title"> Setup Fee ${{p.setup_cost}} <small
                                        class="text-muted"></small>
                                </h4>
                                {% endif %}
                                <div class='card-title pricing-card-title'>{{p.description | safe}}</div>


                                {% if p.show_subscribe is True %}
                                {% if p.is_active is False %}
                                <button class="mt-auto btn btn-lg btn-block btn-primary" onclick="openCheckout('{{p.id}}', '{{has_active_plan}}' )"
                                        style=" bottom:1%; left: 2%; "
                                        type="button">Subscribe
                                </button>
                                {% else %}
                                <h6> Renews on : {{p.billing_date}}</h6>
                                <button class="mt-auto btn btn-lg btn-block btn-success" onclick=""
                                        style=" bottom:1%; left: 2%; " type="button">Active
                                </button>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <div class="row justify-content-center" style="margin-top: 5%;  width: -webkit-fill-available">
                    {% for p in sisu_plans_end %}

                    {% if p.id != "fub-sisu-activity-integration" %}
                    <div class="col-md-3">

                        <div class="card mb-4 box-shadow" style="height:100%; ;  margin-top: 15%; width:100%;">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">{{p.name}}</h4>
                            </div>
                            <div class="card-body d-flex flex-column">
                                {% if p.price%}
                                <h1 class="card-title pricing-card-title">${{p.price}} <small class="text-muted">/
                                    mo</small></h1>
                                {% endif %}
                                {% if p.setup_cost %}
                                <h4 class="card-title pricing-card-title"> Setup Fee ${{p.setup_cost}} <small
                                        class="text-muted"></small>
                                </h4>
                                {% endif %}
                                <div class='card-title pricing-card-title'>{{p.description | safe}}</div>


                                {% if p.show_subscribe is True %}
                                {% if p.is_active is False %}
                                <button class="mt-auto btn btn-lg btn-block btn-primary" onclick="openCheckout('{{p.id}}', '{{has_active_plan}}' )"
                                        style=" bottom:1%; left: 2%; "
                                        type="button">Subscribe
                                </button>
                                {% else %}
                                <h6> Renews on : {{p.billing_date}}</h6>
                                <button class="mt-auto btn btn-lg btn-block btn-success" onclick=""
                                        style=" bottom:1%; left: 2%; " type="button">Active
                                </button>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        {% if has_active_sisu_plan != True %}
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h3 class="display-4">Fub Plans</h3>
            <p class="lead">Select one of the fub plans</p>
        </div>

        <div class="container">
            <div class="card-deck mb-3 text-center">
                <div class="row justify-content-center" style=" width: -webkit-fill-available">
                    {% for p in webform_plans_top %}
                    <div class="col-md-3">
                        <div class="card mb-4 box-shadow" style="height:100%; ;  margin-top: 15%; width:100%;">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">{{p.name}}</h4>
                            </div>
                            <div class="card-body d-flex flex-column" style="height:-webkit-fill-available; ">
                                {% if p.price%}
                                <h1 class="card-title pricing-card-title">${{p.price}} <small class="text-muted">/
                                    mo</small></h1>
                                {% endif %}
                                {% if p.setup_cost %}
                                <h4 class="card-title pricing-card-title"> Setup Fee ${{p.setup_cost}} <small
                                        class="text-muted"></small>
                                </h4>
                                {% endif %}
                                <div class='card-title pricing-card-title'>{{p.description | safe}}</div>
                                {% if p.show_subscribe is True %}
                                {% if p.is_active is False %}
                                <button class="mt-auto btn btn-lg btn-block btn-primary" onclick="openCheckout('{{p.id}}', '{{has_active_plan}}' )"
                                        style=" bottom:1%; left: 2%; "
                                        type="button">Subscribe
                                </button>
                                {% else %}
                                <h6> Renews on : {{p.billing_date}}</h6>
                                <button class="mt-auto btn btn-lg btn-block btn-success" onclick=""
                                        style=" bottom:1%; left: 2%; " type="button">Active
                                </button>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="row justify-content-center" style="margin-top: 5%; width: -webkit-fill-available">
                    {% for p in webform_plans_bottom %}

                    {% if p.id != "fub-sisu-activity-integration" %}
                    <div class="col-md-3">

                        <div class="card mb-4 box-shadow" style="height:100%; ;  margin-top: 15%; width:100%;">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">{{p.name}}</h4>
                            </div>
                            <div class="card-body d-flex flex-column">
                                {% if p.price%}
                                <h1 class="card-title pricing-card-title">${{p.price}} <small class="text-muted">/
                                    mo</small></h1>
                                {% endif %}
                                {% if p.setup_cost %}
                                <h4 class="card-title pricing-card-title"> Setup Fee ${{p.setup_cost}} <small
                                        class="text-muted"></small>
                                </h4>
                                {% endif %}
                                <div class='card-title pricing-card-title'>{{p.description | safe}}</div>

                                {% if p.show_subscribe is True %}
                                {% if p.is_active is False %}
                                <button class="mt-auto btn btn-lg btn-block btn-primary" onclick="openCheckout('{{p.id}}', '{{has_active_plan}}' )"
                                        style=" bottom:1%; left: 2%; "
                                        type="button">Subscribe
                                </button>
                                {% else %}
                                <h6> Renews on : {{p.billing_date}}</h6>
                                <button class="mt-auto btn btn-lg btn-block btn-success" onclick=""
                                        style=" bottom:1%; left: 2%; " type="button">Active
                                </button>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}


    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script data-cb-site="{{website_name}}" src="https://js.chargebee.com/v2/chargebee.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script src="{% static 'assets/js/main.js'%}"></script>
<script>
    {% if is_error == '1' %}
    swal({
        title: '{{message_title}}',
        text: '{{message}}',
        icon: 'error',
        confirmButtonText: 'Ok'
    })
    {% endif %}
</script>


<script>
    $(document).ready(function () {
        /* Initialize a Chargebee instance after mounting the root component. */
        var chargebeeInstance = Chargebee.init({
            site: "mannar-test"
        });
        // You can access the above created instance anywhere using the following code
        var chargebeeInstance = Chargebee.getInstance();


    });

    function openCheckout(plan, duration, addons) {
        // console.log(plan_id, active_plans);
        var chargebeeInstance = Chargebee.getInstance();
        chargebeeInstance.openCheckout({
            hostedPage: function () {
                // We will discuss on how to implement this end point in the next step.
                return $.ajax({
                    url: '/payments/generate_hp',
                    method: 'POST',
                    data: {
                        "plan" : plan,
                        "duration": duration,
                        "addon_custom_field_sync": 1
                    }
                });
            },
            success: function (hostedPageId) {
                // success callback
            }
        });
    }

    {% if payment_state == 'succeeded' and plan_id == "fub-sisu-activity-integration" %}
    swal("Subscription Successfull!!", "Your subscription will be activated shortly. Thank you!", "success")
    {% elif payment_state == 'succeeded' and plan_id == "fub-sisu-embedded-app" %}
    swal("Subscription Successfull!!", "Your subscription will be activated shortly. Thank you!", "success")
    {% elif payment_state == 'succeeded' %}
    swal("Subscription Successful!!", "Your subscription will be activated shortly. Thank you!", "success")
    {% elif payment_state == 'failed' %}
    swal("Subscription Failed", "Sorry we could not process your subscription request, Please contact support for further details", "error")
    {% endif %}
</script>


{% endblock %}