{% extends 'dashboard/base.html' %}

{% load static %}
{% block styles %}


{% endblock %}

{% block content %}

<body>
<div class="content">
    <!-- Animated -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="box-title">Text Templates</h4>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token%}
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label" for="text-input">Tag
                            Name</label><small class="form-text text-muted">This is the Tag name given to this
                            template</small></div>
                        <div class="col-12 col-md-9">
                            <input class="form-control" name="tag_name" required type="text"
                                   value="{{result.tag_name}}">

                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label" for="text-input">Custom Field Name
                            Name</label><small class="form-text text-muted">This is the custom fields avaiable in the
                            text tempalte</small></div>
                        <div class="col-12 col-md-9">
                            <input class="form-control" name="custom_field_name" required
                                   type="text" value="{{result.custom_field_name}}">

                        </div>
                    </div>
                    <input hidden name="update_id" value="{{result.did}}">
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label" for="text-input">Text
                            Template</label>
                            <small class="form-text text-muted">This is actual text template</small></div>
                        <div class="col-12 col-md-9">

                            <textarea cols="60" id="text_message" name="text_message"
                                      rows="4">{{result.text_message}}</textarea>

                        </div>
                    </div>

                    <div class="form-actions form-group">
                        <button class="btn btn-primary btn-lg float-right" type="submit" value="submit">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- .animated -->
</div>


{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css" rel="stylesheet" type="text/css">

<script charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"
        type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('#text_table').DataTable();
    });

    var table = $('#text_table').DataTable();

    $('#text_table tbody').on('click', 'tr', function () {
        var data = table.row(this).data();
        alert(data);
    });
</script>
{% endblock %}